{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}身份认证 - 唐院知乎{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>身份认证</h1>
</div>

<div class="container">
<div>
    {% if not current_user.photos_uploaded %}
    <div></div>
        {{ wtf.quick_form(form) }}
    {% elif current_user.is_verified() %}
        <p>您已通过认证</p>
        <p>真实姓名: {{ current_user.real_name }}</p>
        <p>身份: {{ current_user.vrole.name }}</p>
    {% else %}
        <p>您的申请正在审核中</p>
        {% if current_user.real_name %}
            <p>真实姓名: {{ current_user.real_name }}</p>
        {% endif %}
        {% if current_user.stu_number %}
            <p>学号: {{ current_user.stu_number }}</p>
        {% endif %}
        {% if stu_url %}
            <img src="{{ stu_url }}" height="300">
        {% endif %}
        {% if id_url %}
            <img src="{{ id_url }}" height="300">
        {% endif %}
    {% endif %}

</div>
</div>
{% endblock %}