<ul class="posts">
{% if answers %}
    {% for answer in answers %}
    {% if answer.q_answer and answer and answer.answerer%}
    <li class="post">
    <div class="container post-content">
	<div class="row">
		<div class="col-md-1">
			 <button class="btn btn-default btn-sm vote-post" id="{{ answer.id }}">
                 <span class="voted">
                     {% if current_user.is_authenticated and current_user.is_voted(answer.answerer) %}
                         已赞
                     {% elif current_user != answer.answerer %}
                         点赞
                     {% else %}
                         被赞
                     {% endif %}
                 </span>
                <span class="badge votes">{{ answer.voters.count() }}</span>
             </button>
		</div>
		<div class="col-md-8">
			来自话题： <span class="label label-primary">文字标签</span>
			<h3 class="text-left">
                <a class="text-muted" href="{{ url_for('main.question', id=answer.q_answer.id) }}"> {{ answer.q_answer.title }}</a>
			</h3>
			<p class="text-left">
				{{ answer.answerer.nickname }} <span class="badge">学生认证</span>
                {% if answer.answerer.about_me  %}
                    ， {{ answer.answerer.about_me }}
                {% endif %}
			</p>
			<p>
                {{ answer.body_html | safe }}
			</p>
            <div class="post-footer">
                {% if current_user == answer.answerer %}
                <a href="{{ url_for('.answer_edit', id=answer.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.answer_edit', id=answer.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.answer', id=answer.id) }}#comments">
                    <span class="label label-primary">{{ answer.comments.count() }} Comments</span>
                </a>
            </div>
		</div>
	</div>
    </div>
    {% endif %}
    </li>
    {% endfor %}
{% endif %}
</ul>