{% extends "base.html" %}

{% block title %}{{ question.title }} - 唐院知乎{% endblock %}

{% block page_content %}
<div class="page-header">
<div class="container">
    <div class="col-sm-12">
        <h1>{{ question.title }}</h1>
        <h2>{{ question.body_html | safe }}</h2>
    </div>
    {% if current_user.is_authenticated %}
    <div class="col-sm-12">
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <!-- 修改 -->
            <a class="btn btn-default " href="{{ url_for('main.question_modify', id=question.id) }}">
                修改问题
            </a>
        {% endif %}
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <!-- 添加回答 -->
            <a class="btn btn-default" href="{{ url_for('main.answer_edit', id=question.id) }}">
                添加回答
            </a>
        {% endif %}
        {% if current_user.can(Permission.FOLLOW) %}
            <!-- 关注 -->
            {% if current_user.is_focus(question) %}
                <a class="btn btn-default navbar-btn" href="{{ url_for('main.unfocus', id=question.id) }}">
                取消关注
            {% else %}
                <a class="btn btn-default navbar-btn" href="{{ url_for('main.focus', id=question.id) }}">
                关注问题
            {% endif %}
                </a>
        {% endif %}
    </div>
    {% endif %}
</div>
</div>

    <div>
        {% include '_answers_simple.html' %}
    </div>

{% endblock %}
